<p>Create a new project:</p>

<form action="/projects" method="post">
  <label for="name">List Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add project</button>
</form>
