<h1><%= @project.name %></h1>

<% if @project.volunteers.any? %>
  <h3>Here are all the volunteers in this project:</h3>

  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><%= volunteer.nombre %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>
      There are no volunteers on this project!
    </p>
  <% end %>

<p><a href="/projects/<%= @project.id() %>/edit">Edit <%= @project.name() %> project</a></p>
<p><a href="/">Return to Main Page</a></p>
